body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select{
  border-radius: 5px;
  padding: 1em 1em 1em 1em;
  box-shadow: 0px 0px;
  margin: 0em 1em 0em 2em;
  border: 2px solid gray;
}

input{

  border-radius: 5px;
  padding: 1em 1em 1em 1em;
  margin: 0em 2em 0em 2em;
  border: 2px solid gray;

}
main{
 display: flex;
  justify-content:center;  
}

section{
 
  min-width: 800px;
  margin: 0 auto;
  
}

.signe{
  font-size: 2em;
  color: gray;
  vertical-align: middle;
}

#result{
  padding-left:1em;
}

button{
  border-radius: 5px;
  margin-left: 1em;
  cursor:pointer;
  padding: 0.80em 2em 0.80em 2em;
  border: 0.2px solid gray;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color:gray;
  background-color: white;
}

button:hover{
  border: 0.2px solid red;
}

h1{
  color: blueviolet;
  }

h2{
  color:blueviolet;
}